.radio-button:selected .radio .dot {
    -fx-background-color: rgb(255, 230, 143);
    -fx-background-insets: 0;

}

 .radio  {
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-background-color: rgb(255, 255, 244);
}

.button:hover{

    -fx-background-color: #ffdc61 !important;
}

.button:pressed{
    -fx-background-color: #ffc700 !important;
}

.slider .track {   
    -fx-background-color: #FFFFF4;
    -fx-border-color: black;
    -fx-border-radius: 10px;
    
}

.slider:vertical .track {
    -fx-pref-width:10;

}

.slider .thumb {
    -fx-pref-height: 20;
    -fx-pref-width: 20;
    -fx-background-color: rgb(255, 230, 143);
    -fx-border-color: black;
    -fx-border-radius: 10px;
}

.chart-series-area-line
{
	-fx-stroke: rgb(243, 219, 136);
}



TextFlow
{
-fx-background-color: #FFFFF4 ;

    -fx-border-color: black;
    -fx-border-width: 3px;
}



.text-area .content {
    -fx-background-color: #FFFFF4 ;

    -fx-border-color: black;
    -fx-border-width: 3px;
}


.scroll-pane {
    -fx-background-color: #FFFFF4;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;

}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: rgb(255, 243, 143);
    -fx-background-radius: 5em;
}

.tooltip {
    -fx-font-family: "SF Distant Galaxy";
    -fx-font-size: 10px;
}








